:root {
	--blue: #2945FF;
	--black: #000000;
	--light-black: rgba(0, 0, 0, .8);
	--light-grey: rgba(0, 0, 0, .1);
	--grey: #797979;
}

html {
	scroll-behavior: smooth
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/raleway-v17-latin_cyrillic-200.eot');
	src: local(''),
		url('../fonts/raleway-v17-latin_cyrillic-200.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway-v17-latin_cyrillic-200.woff2') format('woff2'),
		url('../fonts/raleway-v17-latin_cyrillic-200.woff') format('woff'),
		url('../fonts/raleway-v17-latin_cyrillic-200.ttf') format('truetype'),
		url('../fonts/raleway-v17-latin_cyrillic-200.svg#Raleway') format('svg');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/raleway-v17-latin_cyrillic-500.eot');
	src: local(''),
		url('../fonts/raleway-v17-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway-v17-latin_cyrillic-500.woff2') format('woff2'),
		url('../fonts/raleway-v17-latin_cyrillic-500.woff') format('woff'),
		url('../fonts/raleway-v17-latin_cyrillic-500.ttf') format('truetype'),
		url('../fonts/raleway-v17-latin_cyrillic-500.svg#Raleway') format('svg');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/raleway-v17-latin_cyrillic-700.eot');
	src: local(''),
		url('../fonts/raleway-v17-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway-v17-latin_cyrillic-700.woff2') format('woff2'),
		url('../fonts/raleway-v17-latin_cyrillic-700.woff') format('woff'),
		url('../fonts/raleway-v17-latin_cyrillic-700.ttf') format('truetype'),
		url('../fonts/raleway-v17-latin_cyrillic-700.svg#Raleway') format('svg');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/raleway-v17-latin_cyrillic-900.eot');
	src: local(''),
		url('../fonts/raleway-v17-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway-v17-latin_cyrillic-900.woff2') format('woff2'),
		url('../fonts/raleway-v17-latin_cyrillic-900.woff') format('woff'),
		url('../fonts/raleway-v17-latin_cyrillic-900.ttf') format('truetype'),
		url('../fonts/raleway-v17-latin_cyrillic-900.svg#Raleway') format('svg');
}


*::before,
*::after {
	box-sizing: border-box;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	background: #fff;
	color: var(--black);
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 16px;
	font-family: "Raleway",
		sans-serif;
}

ul[class],
ol[class] {
	list-style: none;
	list-style-position: inside;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
}

article>*+* {
	margin-top: 1em;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
input:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
div:focus {
	outline: 0 !important;
	outline-color: transparent !important;
	outline-width: 0 !important;
	outline-style: none !important;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
	box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

label {
	margin-bottom: 0;
}

.body.open {
	overflow: hidden;
}

a {
	color: inherit;
	transition: .3s;
	text-decoration: none;
}

a:hover {
	color: var(--blue);
	text-decoration: none;
}

p {
	line-height: 1.3em;
	margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 900;
	font-family: "Raleway", sans-serif;
}

.h1 {
	font-size: 4em;
}

.h2 {
	font-size: 2.25em;
}

.h3 {
	font-size: 1.8em;
}

.h4 {
	font-size: 1.5em;
}

.h5 {
	font-size: 1.25em;
}

.up {
	text-transform: uppercase;
}
button:hover,
input:hover,
a:hover {
	cursor: url('../img/icons/Pointer.svg'), pointer !important;
}
.link {
	text-decoration: none;
	color: inherit;
	-webkit-transition: .3s;
	transition: .3s;
}

.link__arrow {
	margin-left: .625em;
}

.link:hover,
.link:focus,
.link:active {
	text-decoration: none;
	color: var(--brown-color);
}
.blue {
	color: var(--blue);
}
.btn__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.btn__block.center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.btn__common {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: none;
	font-size: 1em;
	font-weight: normal;
	-webkit-transition: .3s;
	transition: .3s;
	box-shadow: none;
	cursor: pointer;
}
.btn__blue {
	background: var(--blue);
	color: #fff;
	border: 2px solid var(--blue);
	&:hover {
		background: #fff;
		color: var(--blue);
	}
}
.btn__white {
	background: #fff;
	color: var(--blue);
	border: 2px solid var(--blue);
	&:hover {
		background: var(--blue);
		color: #fff;
	}
}
.grid {
	display: grid;
}
.flex {
	display: flex;
}
.block__subtitle {
	margin-bottom: 1.5em;
	font-size: .875em;
	color: #B8BFD3;
}
.block__title {
	margin-bottom: 2em;
}

// навигационная панель

.navbar {
	padding: 0;
}

.navbar__collapse {
	display: flex;
	justify-content: center;
}

.navbar__nav {
	display: flex;
	position: relative;
}

.nav__link {
	display: block;
	color: inherit;
	word-break: keep-all;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 0 .5em;
	&:hover {
		color: var(--brown-color)
	}
}

.navbar-toggler {
	display: none;
	padding: 1em;
	border: none;
	background: inherit;
	.nav__icon {
		display: inline-block;
		width: 18px;
		height: 18px;
		position: relative;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		-webkit-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		&.open {
			span {
				&:nth-child(1) {
					top: 6px;
					-webkit-transform: rotate(135deg);
					transform: rotate(135deg);
				}

				&:nth-child(2) {
					opacity: 0;
					left: -60px;
				}

				&:nth-child(3) {
					top: 6px;
					-webkit-transform: rotate(-135deg);
					transform: rotate(-135deg);
				}
			}
		}

		span {
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: var(--blue);
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0);
			transform: rotate(0);
			-webkit-transition: .25s ease-in-out;
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 6px;
			}

			&:nth-child(3) {
				top: 12px;
			}
		}
	}
}
.dropdown__mark {
	margin-left: 4px;
}
.dropdown {
	position: relative;
	.dropdown__block {
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
		z-index: 4;
		min-width: 10rem;
		padding: 1em 0;
		text-align: left;
		color: inherit;
		background: #fff;
		opacity: 0;
		transition: all .3s ease-out;
		visibility: hidden;

		&.active {
			opacity: 1.0;
			top: 100%;
			visibility: visible;
		}
	}
}
// header
.header__block {
	grid-template-columns: repeat(12, 1fr);
}
.header__item {
	display: flex;
	align-items: center;
	padding: 25px 0;
}
.header__logo {
	grid-column: span 2;
}
.header__nav {
	grid-column: span 6;
	display: flex;
	justify-content: center;
}
.navbar__expand {
	position: relative;
	display: flex;
	width: 100%;
}
.header__auth {
	grid-column: span 4;
	display: flex;
	justify-content: flex-end;
}
.auth__item {
	&:not(:first-child) {
		margin-left: 30px;
	}
	.account__icon {
		margin-right: 10px;
	}
	.search__form {
		display: none;
	}
	.btn__blue {
		padding: .625em 1.25em;
	}
}
//  main

.main__block {
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 0;
	min-height: calc(100vh - 96px);
}
.main__content {
	grid-column: 7 span;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.item__title {
		margin-bottom: 2.5em;
	}
	.item__desc {
		padding: .5em 1em;
		border-left: 4px solid #000;
		margin-bottom: 2.5em;
	}
}
.main__form {
	display: flex;
	.form__item {
		padding: 1.125em;
	}
	.form__input {
		border: none;
		border-bottom: 1px solid #B8BFD3;
		width: 320px;
		margin-right: 20px;
	}
	.btn__common {
		font-weight: 700;
	}
}
.main__img {
	grid-column: 5 span;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	figure {
		position: relative;
		height: 462px;
	}
	img {
		position: absolute;
		top: 0;
		left: 100px;
		display: block;
	}
}

.mission__block {
	padding: 4em 0;
}
.mission__content {
	// grid-column: 6 span;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.p {
		line-height: 1.8;
		margin-bottom: 1em;
	}
	.block__content {
		margin-bottom: 3.5em;
	}
	.block__more {
		color: #B8BFD3;
		font-weight: 500;
	}
}
.mission__slider {
	.swiper-slide {
		display: flex;
		justify-content: center;
		padding: 30px 0;
	}
	.swiper-pagination-bullets {
		bottom: 60px;
	}
	.slide__block {
		margin: 20px;
		background: #fff;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
		display: flex;
		justify-content: center;
		height: 100%;
		padding: 6em 4em 8em 4em;
		color: var(--grey);
		font-style: italic;
		.p {
			font-size: 1.25em;
			line-height: 1.8;
		}
	}
}

.edges__block {
	padding: 3em 0 7.5em;
	grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
	grid-gap: 2em;
}
.edges__item {
	display: flex;
	flex-direction: column;
	.item__icon {
		margin-bottom: 1.25em;
	}
	.item__title {
		margin-bottom: .875em;
		.h4 {
			font-size: 20px;
			font-weight: normal;
		}
	}
}
.services {
	background: #F9FAFB;
}
.services__block {
	padding: 7.5em 0;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 95px;
}
.services__title {
	display: flex;
	flex-direction: column;
	grid-column: 5 span;
}
.services__content {
	padding: 1em 0;
	grid-column: 7 span;
	display: flex;
	flex-direction: column;
	color: #2E2E2E;
	.item__desc {
		margin-bottom: 3em;
	}
}
.services__list {
	display: flex;
	flex-wrap: wrap;
	font-size: .875em;
	font-weight: normal;
	justify-content: space-between;
	.link {
		display: block;
		color: var(--blue);
		padding: 10px 0;
		&:hover {
			box-shadow: 0 2px 0px 0px #2945FF;
		}
	}
}

.more {
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background: var(--blue);
	display: flex;
	justify-content: center;
	align-items: center;
}
.audit,
.dev,
.outsource {
	.section__block {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1.875em;
		padding-bottom: 7.5em;
		.block__title {
			margin-bottom: 1.85em;
		}
		.block__desc {
			margin-bottom: 1.25em;
		}
		.block__more {
			margin-bottom: 3em;
			color: #B8BFD3;
		}
		.block__btn {
			display: flex;
		}
		.btn__common {
			font-weight: bold;
			padding: 1.125em 2em;
			&:first-child {
				margin-right: 19px;
			}
		}
	}
}
.audit {
	.section__block {
		padding-top: 7.5em;
	}
}
.dev {
	.block__content {
		order: 1;
	}
	.block__img {
		order: 2;
	}
}
.banner__img {
	height: 560px;
	width: 100%;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.usefull, 
.feedback,
.clients,
.check {
	.section__block {
		padding: 5em 0;
	}
}

.usefull {
	.block__nav {
		border-bottom: 1px solid rgba(43, 41, 45, .2)
	}
	.nav__list {
		display: flex;
	}
	.nav__item {
		font-size: .875em;
		width: 224px;
		padding: 2em 0;
		margin-right: 4em;
		&.active {
			box-shadow: inset 0 -4px 0px 0 #2945FF;
		}
	}
	.block__content {
		display: none;
		padding: 2.5em 0;
		&.active {
			display: block;
		}

	}
	.dropdown-toggle::after {
		display: inline-block;
		margin-left: 0.255em;
		vertical-align: 0.255em;
		content: "";
		border-top: 0;
		border-right: 0.3em solid transparent;
		border-bottom: 0.3em solid;
		border-left: 0.3em solid transparent;
	}
}

.accordion__item {
	.btn__common {
		justify-content: flex-start;
		width: 100%;
		color: #000;
		padding: 1.5em 2em;
		background: #F9FAFB;
		position: relative;
		border: 1px solid #B8BFD3;
		&::after {
			position: absolute;
			display: flex;
			align-items: center;
			content: url(../img/icons/docsarr.svg);
			top: 0;
			right: 2em;
			height: 100%;
			width: 12px;
		}
		&[aria-expanded="true"] {
			background: var(--blue);
			color: #fff;
			&::after {
				content: url(../img/icons/docsarrwhite.svg);
			}
		}
	}
	&:not(:first-child) {
		.btn__common { 
			border-top: none;
		}
	}
	.item__list {
		padding: 1.5em 2em;
		border-left: 1px solid #B8BFD3;
		border-right: 1px solid #B8BFD3;
		border-bottom: 1px solid #B8BFD3;
	}
}
.feedback {
	.block__title {
		text-align: center;
	}
	.swiper-slide {
		display: flex;
		justify-content: center;
	}
}

.feedback__slide {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 80px;
	.slide__text {
		text-align: center;
		font-size: 1.5em;
		line-height: 1.5;
		color: #2B292D;
	}
	.slide__media {
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: relative;
		align-items: center;
	}
	.slide__img {
		margin: 30px 0;
		padding: 20px;
		border-radius: 50%;
		display: inline-block;
		border: 4px solid rgba(41, 70, 255, .1);
	}
	.slide__photo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid var(--blue);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.slide__link {
		display: none;
	}
	.slide__title {
		text-align: center;
		line-height: 1.5;
		.bold {
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}
}
.clients {
	background: #F9FAFB;
}
.clients__block {
	.block__title {
		text-align: center;
	}
	.block__content {
		margin: 5em 0 7.5em;
	}
}
.clients__slide {
	display: flex;
	justify-content: center;
	width: 100%;
}
// 
.check {
	position: relative;
}
.check__block {
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 15px;
}
.check__form, .check__content {
	grid-column: 6 span;
}
.check__img {
	position: absolute;
	bottom: 0;
	right: 0;
}
.check__content {
	.h2 {
		line-height: 1.5;
	}
}
.check__form {
	.form__group {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
	input {
		padding: 1em 0;
		width: 443px;
		border: none;
		border-bottom: 1px solid var(--blue);

		&::placeholder {
			color: var(--blue);
		}
	}

	button {
		width: 207px;
		height: 62px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


@media(max-width: 1230px) {
	.main__img {
		img {
			left: 0;
		}
	}
}
@media(max-width: 1199px) {
	body {
		font-size: 14px;
	}
	.nav__link {
		color: inherit;
	}
	.header__logo {
		grid-column: span 6;
		order: 1;
	}
	.header__nav {
		grid-column: span 12;
		order: 3;
	}
	.header__auth {
		grid-column: span 6;
		order: 2;
	}
	.main__block {
		grid-gap: 45px;
		min-height: calc(100vh - 164px);
	}
	.main__img {
		figure {
			position: relative;
			height: 400px;
			display: flex;
			align-items: center;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
		}
	}
	.mission__content {
		grid-column: 6 span;
	}
	.mission__slider {
		grid-column: 6 span;

		.slide__block {
			padding: 3em 3em 4em 3em;
		}
	}
	.services__block {
		padding: 7.5em 0;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 30px;
	}
	.check__block {
		grid-gap: 45px;
	}
	.check__form {
		input {
			width: 100%;
		}
	}
	.check__content {
		padding-right: 50px;
	}
}

@media(max-width: 992px) {
	.h1 {
		font-size: 2.5em;
	}

	.h2 {
		font-size: 2em;
	}

	.h3 {
		font-size: 1.5em;
	}

	.h4 {
		font-size: 1.2em;
	}

	.h5 {
		font-size: 1em;
	}
	.navbar__collapse {
		display: block;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background: #fff;
		opacity: 0;
		transition: all .3s ease-out;
		visibility: hidden;
		z-index: 4;
		&.active {
			opacity: 1.0;
			top: 100%;
			visibility: visible;
		}
	}

	.navbar__nav {
		flex-direction: column;
	}

	.nav__link {
		padding: .5em .5em;
		text-align: center;
	}

	.dropdown {
		.dropdown__menu {
			position: static;
			padding-left: 1em;
			margin: 0;
			width: 100%;
		}
	}
	.navbar-toggler {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 1em;
		border: none;
		background: inherit;
	}
	.main__block {
		min-height: auto;
		padding: 2em 0;
	}
	.main__form {
		display: flex;
		flex-direction: column;
		.form__group {
			margin-bottom: 1.5em;
		}
	}

	.usefull,
	.feedback,
	.clients,
	.check {
		.section__block {
			padding: 3em 0;
		}
	}

	.edges__block {
		padding: 2.5em 0 3em;
	}
	.feedback__slide {
		width: 100%;
	}
}
 
@media(max-width: 768px) {
	body {
		font-size: 12px;
	}
	.main__block {
		grid-gap: 45px;
		min-height: auto;
		padding: 2em 0;
	}
	.mission__block {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.mission__slider {
		.slide__block {
			padding: 3em 3em 4em 3em;
		}
	}
	.services__block {
		padding: 3em 0;
	}
	.services__title {
		grid-column: 12 span;
	}

	.services__content {
		padding: 1em 0;
		grid-column: 12 span;
	}
	.audit,
	.dev,
	.outsource {
		.section__block {
			grid-gap: 1.25;
			padding-bottom: 3em;
		}
	}
	.audit {
		.section__block {
			padding-top: 3em;
		}
	}
	.check__block {
		display: flex;
		flex-direction: column;
		padding-right: 50px !important;
	}
	.check__form {
		order: 1;
	}
	.check__content {
		order: 0;
		padding-right: 0;
	}
	.check__img {
		img {
			width: 200px;
		}
	}
}

@media(max-width: 576px) {
	.main__block {
		grid-gap: 30px;
		padding: 1em 0;
	}
	.main__content {
		grid-column: 8 span;
	}
	.main__img {
		grid-column: 4 span;
		justify-content: flex-start;
		figure {
			width: 100%;
			height: auto;
		}
	}
	.edges__block {
		padding: 2em 0;
	}
	.audit,
	.dev,
	.outsource {
		.section__block {
			grid-template-columns: 1fr;
			grid-gap: 1.25;
			.item__btn {
				justify-content: center;
			}
		}
	}


	.dev {
		.block__content {
			order: 2;
		}
		.block__img {
			order: 1;
		}
	}
	.check__block {
		padding-right: 30px;
	}
	.check__img {
		width: 100px;
	}
}
@media(max-width: 376px) {
	.main__block {
		display: flex;
	}
	.main__img {
		display: none;
	}
	.main__form {
		.form__input {
			width: 100%;
			margin-right: 0;
		}
	}
}